body{
    background: #ccc;
    max-height: 100vh;
}
.navbar{
  position: relative;
  top: 20px;
}
.btn {
    display: inline-block;
    /* background-color: white; */
    border: 2px solid white;
    font-size: 11px;
    color: black;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    transition: .3s;
  }

  .btn:hover{
    background-color: white;
    color: black;
  }
  .nav-left a{
    transition: .3s;
  }
  .nav-left a:hover{
    color: black;
  }

  .image img{
    width: 20%;
    object-fit: cover;
    object-position: center;
  }

  .btncontent{
    padding: 20px;
    font-size: 11px;
    width: 150px;
    border: none;
    background: #252525;
    box-shadow: 5px 10px 20px rgba(252, 252, 252, 0.699);
    font-weight: 700;
    position: relative;
    top: 20px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    transition: .5s;
  }
  a {
    z-index: 10;
    position: relative; /* Pastikan elemen ini berada di atas elemen lainnya */
}
  .btncontent:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
  .content{
    height: 100vh;
    position: relative;
    top: 50px;
  }
  .content2{
    min-height: 100vh;
    width: 100%;
  }

  .elemnt{
    gap: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
    border-radius: 50px;
}
.elemnt img{
    width: 70px;
}

.p-3{
    position: relative;
    top: 10px;
}
.content-3 img{
  position: relative;
  top: 20px;
  width: 50%;
}

.hal-3{
  min-height: 100vh;
}
.copy-feedback {
  position: absolute;
  /* right: 10px; */
  left: 250px;
  top: -25px;
  /* background-color: #6c63ff; */
  color: #252525;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
  pointer-events: none;
}

.copy-feedback.show {
  opacity: 1;
  transform: translateY(0);
}

#copy-email {
  cursor: pointer;
  padding: 5px 10px;
  /* background-color: #6c63ff; */
  color: black;
  border-radius: 5px;
  border: 1px solid #252525;
  transition: background-color 0.3s ease;
}

#copy-email:hover {
  background-color: #252525;
  color: white;
  border: 1px solid #252525;

}

@media (max-width: 480px) {
  .nav-left {
    display: flex;
    flex-direction: row; 
    gap: 15px;
  }
  .nav-link:hover {
    text-decoration: underline; /* Teks digarisbawahi saat dihover */
  }
}

@media (max-width: 768px) {
  .content {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .content2 .elemnt {
      gap: 10px;
  }
}
/* 
@media (min-width: 992px) { 
  .row {
    gap: 1rem !important; 
  }
  .content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

} */